{% extends 'base.html' %} {% block content %}

<script type="text/javascript"> 
    $(document).ready(function() {
        $('.has-popover').popover({'trigger':'hover'});
    });
</script>

<p></p>
<form method="post" class="post-form">
    {% csrf_token %}
    <table class="table-condensed">
        {{ form.as_table }}
    </table>
    <div class="btn-group btn-group-sm">
        <button type="submit" class="btn btn-secondary btn-sm" name="calculate" value="calculate">Calculate</button>
        <button type="submit" class="btn btn-primary btn-sm" name="save" value="save">Save</button>
    </div>
</form>
<p></p>
{% endblock %}