{% extends 'base.html' %}

{% block content %}
<a href="{% url 'planner:yarn_create' %}" class="btn btn-success btn-sm" role="button">New yarn</a>
<p></p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Material</th>
        <th>Number</th>
        <th>Sett</th>
    </tr>
    {% for yarn in yarns %}
    <tr>
        <td><a href="{% url 'planner:yarn_detail' yarn.id %}"> {{ yarn.name}}</a></td>
        <td>{{ yarn.manufacturer}}</td>
        <td>{{yarn.material}}</td>
        <td>{{yarn.numbering_system}} {{yarn.number}}</td>
        <td>{{yarn.sett}} yarns/cm</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
