<table>
    <tr>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Material</th>
        <th>Number</th>
        <th>Sett</th>
    </tr>
    {% for yarn in yarns %}
    <tr>
        <td><a href="{% url 'planner:yarn_detail' yarn.id %}"> {{ yarn.name}}</a></td>
        <td>{{ yarn.manufacturer}}</td>
        <td>{{yarn.material}}</td>
        <td>{{yarn.number}} {{yarn.numbering_system}}</td>
        <td>{{yarn.sett}} {{yarn.sett_unit_name}}</td>
    </tr>
    {% endfor %}
</table>
<form action="{% url 'planner:yarn_add' %}">
    <input type="submit" value="Add yarn">
</form>
