{% extends 'base.html' %} {% block content %}
<div class="well well-sm">
    <h4>{{ yarn.name }}</h4>
</div>
<table class="table-condensed">
    <tr>
        <th>Manufacturer</th>
        <td>{{yarn.manufacturer.name}}</td>
    </tr>
    <tr>
        <th>Material</th>
        <td>{{yarn.material}}</td>
    </tr>
    <tr>
        <th>Number</th>
        <td>{{yarn.number}} {{yarn.numbering_system}}</td>
    </tr>
    <tr>
        <th>Sett</th>
        <td>{{yarn.sett}} yarns/cm</td>
    </tr>
</table>
<p></p>
<div class="btn-group btn-group-sm">
    <a href="{% url 'planner:yarn_delete' yarn.id%}" class="btn btn-danger" role="button">Delete</a>
    <a href="{% url 'planner:yarn_update' yarn.id%}" class="btn btn-primary" role="button">Edit</a>
</div>
{% endblock %}