{% load staticfiles %} 

<!DOCTYPE html>
<html>

<head>
    <title>Textdesigners</title>

    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static " apple-touch-icon.png " %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static " favicon-32x32.png " %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static " favicon-16x16.png " %}">
    <link rel="manifest" href="{% static " manifest.json " %}">
    <link rel="mask-icon" href="{% static " safari-pinned-tab.svg " color="#5bbad5 " %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="{% static 'planner/styles.css' %}" />
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary py-1">
        <a class="navbar-brand" href="{% url 'planner:plans' %}">
            <img alt="Brand" src="{% static '/texdesigners.svg'%}" style="width:25px;height:25px;">
        </a>

        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'planner:plans' %}">Plans</a>
            <a class="nav-item nav-link" href="{% url 'planner:yarns' %}">Yarns</a>
        </div>

        <div class="navbar-nav ml-auto">
            {% if not user.is_anonymous %}
            <a class="nav-item nav-link" href="/logout">Logout {{user.username}}
                <img src="{{ user.extra_data.picture }}" style="width:15px;height:15px;">
            </a>

            {% else %}
            <a class="nav-item nav-link" href="/login/auth0">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="content container">
        {% block content %} {% endblock %}
    </div>
</body>

</html>